.App {
  text-align: center;
}

a {
  color: black;
}

.btn {
  background-color:  rgba(132, 0, 255, 0.847);
  cursor: pointer;
  padding: 10px;
  border: none;
  border-radius: 10px;
  color: wheat;
}

.btn:hover {
  background-color:  rgba(98, 0, 190, 0.764);
}